<h1>All movie information</h1>

<table border="1" cellpadding="8">
  <thead>
    <tr>
      <th>Movie ID</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Year</th>
      <th>Director</th>
      <th>Actors</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies}}
    <tr>
      <td>{{Movie_ID}}</td>
      <td>{{uppercase Title}}</td>
      <td>{{Genre}}</td>
      <td>{{Year}}</td>
      <td>{{Director}}</td>
      <td>
        {{#if (hasActors Actors)}}
          <ul>
            {{#each Actors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{else}}
          <em>No actors listed</em>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
