<div class="content">
  {{> welcome}}
  <h1>Movie Found {{uppercase movie.Title}}</h1>
  <p><strong>Index:</strong> {{index}}</p>
  <p><strong>Movie ID:</strong> {{movie.Movie_ID}}</p>
  <p><strong>Title:</strong> {{movie.Title}}</p>
  <p><strong>Genre:</strong> {{movie.Genre}}</p>
  <p><strong>Director:</strong> {{movie.Director}}</p>
  <p><strong>Actors:</strong> {{movie.Actors}}</p>
</div>
